@use "../abstracts/" as *;

body.scrolled {
  @include breakpoint('phone-max') {
    overflow: hidden;
  }
}

#root.scrolled {
  @include breakpoint('phone-max') {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 9000;

      background-color: toHsla($clr-primary-900, 0.5);
    }
  }
}

.App {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

#header,
#footer {
  flex-shrink: 0;
}

.custom-marker {
  display: block;

  background-image: url('/src/assets/shared/desktop/icon-map.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: pxToRem(48);
  height: pxToRem(57);
}