@use "../abstracts/" as *;

.home-hero {
  background-color: $clr-primary-400;
  padding-inline: pxToRem(24);

  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    background-image: url('/src/assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;

    width: pxToRem(640);
    height: pxToRem(640);
  }

  &__content {
    position: relative;

    padding-top: pxToRem(80);

    color: $clr-primary-100;
    text-align: center;
  }

  &__title {
    margin-bottom: pxToRem(14);
  }

  &__btn {
    margin-top: pxToRem(24);
  }

  &__img-container {
    position: relative;
    z-index: 10;

    height: pxToRem(371);
    margin-top: pxToRem(80);

    > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      width: calc(100% - 48px);
      height: pxToRem(573);
      margin-inline: auto;

      object-fit: contain;
      object-position: center;

      filter: drop-shadow(20px -40px 80px rgba(93, 2, 2, 0.497569));
    }
  }

  @include breakpoint('tablet') {
    border-radius: 15px;

    &::before {
      left: initial;
      right: pxToRem(-122);
    }

    &__content {
      padding-top: pxToRem(60);
    }

    &__title {
      max-width: pxToRem(573);
    }

    &__text {
      max-width: pxToRem(445);
    }
  }

  @include breakpoint('tablet-desktop') {
    &__title {
      margin-inline: auto;
    }

    &__text {
      margin-inline: auto;
    }
  }

  @include breakpoint('desktop') {
    display: flex;
    justify-content: space-between;

    padding-inline: pxToRem(96);

    &::before {
      top: 0;
      right: 0;
      transform: none;
    }

    &__content {
      text-align: initial;

      margin-block: pxToRem(145);
    }

    &__title {
      max-width: pxToRem(540);
      margin-bottom: pxToRem(32);
    }

    &__btn {
      margin-top: pxToRem(40);
    }

    &__img-container {
      width: pxToRem(284);

      > img {
        top: pxToRem(139);

        width: pxToRem(284);
      }
    }
  }
}

.home-services,
.service-other-services {
  display: grid;
  grid-template-columns: 1fr;
  gap: pxToRem(24);

  &__service-link {
    max-height: pxToRem(250);

    border-radius: 15px;

    position: relative;
    overflow: hidden;

    &:hover,
    &:focus-visible {
      .bg::before {
        background-color: toHsla($clr-primary-400, 0.8);
      }
    }

    .bg {
      position: relative;
      z-index: -1;

      &::before {
        content: "";
        position: absolute;
        inset: 0;

        background-color: toHsla(black, 0.5);

        transition: all 300ms ease-out;
      }

      > picture {
        > img {
          width: 100%;
          height: 100%;

          object-fit: cover;
          object-position: center;
        }
      }
    }

    .content {
      position: absolute;
      inset: 0;
      z-index: 10;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: pxToRem(12);

      text-transform: uppercase;
      color: $clr-primary-100;

      .service-btn {
        padding-right: pxToRem(16 + 7);

        font-weight: $fw-medium;
        letter-spacing: 5px;

        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);

          background-image: url('/src/assets/shared/desktop/icon-right-arrow.svg');
          background-repeat: no-repeat;

          width: pxToRem(7);
          height: pxToRem(10);
        }
      }
    }
  }

  @include breakpoint('tablet') {
    &__service-link {
      max-height: pxToRem(200);
    }
  }

  @include breakpoint('desktop') {
    &__service-link {
      max-height: pxToRem(308);
    }

    &.service {
      grid-template-columns: repeat(2, 1fr);
      gap: pxToRem(30);
    }
  }

  @include breakpoint('desktop-large') {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: pxToRem(24) pxToRem(30);

    &__service-link {
      max-height: initial;

      &:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
      }
      &:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      &:nth-of-type(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }
  }
}

.home-sell-points {
  &__list {
    display: flex;
    flex-direction: column;
    gap: pxToRem(80);
  }

  &__item {
    text-align: center;

    .img-container {
      display: flex;
      justify-content: center;

      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;

        width: pxToRem(202);
        height: pxToRem(202);
        margin-inline: auto;
        border-radius: 50%;

        background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
        opacity: 0.2;
      }
    }
    &:nth-child(1) > .img-container {
      &::after {
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
    &:nth-child(2) > .img-container {
      &::after {
        transform: matrix(0, 1, 1, 0, 0, 0);
      }
    }
    &:nth-child(3) > .img-container {
      &::after {
        transform: matrix(0, -1, -1, 0, 0, 0);
      }
    }

    .content {
      margin-top: pxToRem(48);

      .title {
        margin-bottom: pxToRem(32);
      }
    }
  }

  @media (min-width: 48em) and (max-width: 74.9375em)  {
    &__list {
      gap: pxToRem(32);
    }

    &__item {
      display: grid;
      grid-template-columns: pxToRem(202) auto;
      gap: pxToRem(48);

      .img-container {
        grid-column: 1 / 2;
      }

      .content {
        grid-column: 2 / 3;
        align-self: center;

        margin-top: 0;

        text-align: initial;

        .title {
          margin-bottom: pxToRem(16);
        }
      }
    }
  }

  @include breakpoint('desktop') {
    &__list {
      flex-direction: row;
      gap: pxToRem(30);
    }

    &__item {
      .content {
        max-width: pxToRem(350);
        margin-inline: auto;
      }
    }
  }
}