@use "../abstracts/" as *;

.form-group {
  display: flex;
  justify-content: space-between;

  padding-bottom: pxToRem(11);
  border-bottom: 1px solid $clr-primary-100;

  &:focus,
  &:focus-within {
    border-bottom-width: 3px;
  }

  &:not(:last-of-type) {
    margin-bottom: pxToRem(24);
  }

  > input,
  > textarea {
    background-color: transparent;
    border: none;
    outline: transparent;

    padding-left: pxToRem(14);

    color: $clr-primary-100;
    caret-color: $clr-primary-100;

    &::placeholder {
      opacity: 1 !important;
      color: toHsla($clr-primary-100, 0.6) !important;
    }
  }
}

.input-error {
  display: none;

  padding-right: pxToRem(37);
  position: relative;
  padding-top: pxToRem(4);

  &::after {
    content: "";
    position: absolute;
    top: pxToRem(4);
    right: pxToRem(8);

    opacity: 0;

    background-image: url('/src/assets/contact/desktop/icon-error.svg');
    background-repeat: no-repeat;

    width: pxToRem(20);
    height: pxToRem(20);
  }

  &.invalid {
    display: flex;

    &::after {
      opacity: 1;
    }
  }
}