@use "../abstracts/" as *;

.project {
    background-color: $clr-secondary-200;
    border-radius: 15px;

    overflow: hidden;

    &__img-container {
        max-height: pxToRem(320);

        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: top;
        }
    }

    &__content {
        padding: pxToRem(32) pxToRem(30);

        text-align: center;
    }

    &__name {
        margin-bottom: pxToRem(16);
    }

    &__text {
        color: $clr-secondary-900;
    }

    @media (min-width: 48em) and (max-width: 74.9375em) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__img-container {
            max-height: pxToRem(310);
        }

        &__content {
            align-self: center;
        }
    }
}