@use "../abstracts/" as *;

.project {
    --transition: 300ms;

    background-color: $clr-secondary-200;
    border-radius: 15px;

    cursor: pointer;

    overflow: hidden;

    transition: background-color var(--transition) ease-in-out;

    &:hover,
    &:focus-visible {
        background-color: $clr-primary-400;

        .project__name,
        .project__text {
            color: $clr-primary-100;
        }
    }

    &__img-container {
        max-height: pxToRem(320);

        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: top;
        }
    }

    &__content {
        padding: pxToRem(32) pxToRem(30);

        text-align: center;
    }

    &__name {
        margin-bottom: pxToRem(16);

        transition: color var(--transition) ease-out;
    }

    &__text {
        color: $clr-secondary-900;

        transition: color var(--transition) ease-out;
    }

    @media (min-width: 48em) and (max-width: 74.9375em) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__img-container {
            max-height: pxToRem(310);
        }

        &__content {
            align-self: center;
        }
    }
}